<h2>Registo</h2>
<mat-card>
    <form [formGroup]="criarUser" (ngSubmit)="onSignup()">
        <mat-form-field>
            <input matInput formControlName="nome" minlength="3" placeholder="Nome Completo" required>
            <mat-error *ngIf="criarUser.get('nome').invalid">Insira um nome</mat-error>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="removespac">
                        <input matInput formControlName="username" minlength="2" placeholder="Username" required>
                        <mat-error *ngIf="criarUser.get('username').invalid">Insira um username válido</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="removespac">

                        <input matInput type="password" placeholder="Password" formControlName="password" minlength="3"
                            maxlength="16" required>
                        <mat-error *ngIf="criarUser.get('password').invalid">Insira uma password com mínimo de 3 dígitos</mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="removespac">

                        <input matInput formControlName="endereco" minlength="5" placeholder="Endereço">
                        <mat-error *ngIf="criarUser.get('endereco').invalid">Insira um endereço válido </mat-error>

                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="removespac">

                        <input matInput minlength="2" placeholder="Latitude/Longitude" formControlName="latlng">
                        <mat-error *ngIf="criarUser.get('latlng').invalid">Insira uma Latitude e Longitude
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="removespac">
                        <input matInput formControlName="iban" minlength="21" maxlength="21" placeholder="IBAN" required>
                        <mat-error *ngIf="criarUser.get('iban').invalid">Insira um IBAN válido</mat-error>

                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="removespac">
                        <input matInput placeholder="NIF" formControlName="nif" minlength="9" maxlength="9" required/>
                        <mat-error *ngIf="criarUser.get('nif').invalid">Insira um NIF válido</mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>


        <button mat-raised-button color="warn" type="submit">
            Registar
        </button>
    </form>
</mat-card>