<h2>Lista De Campanhas</h2>
<mat-accordion multi="true" *ngIf="campanhas.length > 0">
  <mat-expansion-panel *ngFor="let campanha of campanhas">
    <mat-expansion-panel-header>
      <h4>{{campanha.title}}</h4>

    </mat-expansion-panel-header>

    <section>
      <p> <b>Descrição:</b> {{ campanha.description }} </p>
      <p> <b>IBAN:</b> {{campanha.iban}} </p>
      <p> <b>Objetivo:</b> {{campanha.goal}} </p>

    </section>

    <mat-expansion-panel *ngIf="donations.length > 0">
      <mat-expansion-panel-header>
        <h4>Doações efetuadas por:</h4>
      </mat-expansion-panel-header>

      <mat-expansion-panel *ngFor="let donation of donations ">
        <mat-expansion-panel-header><h4>{{donation.user}}</h4></mat-expansion-panel-header>

        <section>
          <p><b>Valor:{{donation.valor}}€</b></p>
        </section>
      </mat-expansion-panel>

    </mat-expansion-panel>
    <mat-card class="info-text mat-body-1" *ngIf="donations.length <= 0">Sem Donations Efetuadas</mat-card>

    <mat-action-row>
      <button mat-button color="warn" routerLink="/create-don">Fazer Doação</button>
      <a mat-button color="warn" [routerLink]="['/edit', campanha.id]">Editar Campanha</a>
      <!--Só pode alterar a campanha quem a criou , verificar o user-->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="campanhas.length <= 0">Sem Campanhas</p>