<mat-toolbar color="warn">
  <i class="material-icons" md-48>
    home
  </i>
  <span>
    <a> Home</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a routerLink="/list-campanha" mat-button><i class="material-icons">
          dns
        </i> Listagem Campanhas</a>
    </li>
    <li>
      <a routerLink="/create-campanha" *ngIf="(isAuthenticated)" mat-button><i
          class="material-icons">event_available</i> Criar Campanha</a>
    </li>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons">account_circle</i>
      Login/Registo
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">Login</button>
      <button mat-menu-item routerLink="/signup" *ngIf="!isAuthenticated">Registar</button>
      <button mat-menu-item *ngIf="isAuthenticated" (click)="Logout()">Logout</button>
    </mat-menu>
  </ul>
</mat-toolbar>