<h2>Login</h2>
<mat-card>
  <mat-spinner *ngIf="isLoading" color="warn"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="text" placeholder="Username" autocomplete="on" #usernameInput="ngModel"
        required>
      <mat-error *ngIf="usernameInput.invalid">Por favor introduza um username válido!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" autocomplete="on"
        #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Por favor introduza um password válida!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="red" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>