<h2>Crie uma Doação</h2>
<mat-card>
    <form [formGroup]="criarDonations" (ngSubmit)="onAddDonation()">
        <mat-form-field>
            <h4><i class="material-icons">
                    dashboard
                </i> Nome do Utilizador</h4>
            <input matInput type="text" formControlName="user">
        </mat-form-field>

        <h4><i class="material-icons">
                dashboard
            </i> Valor:</h4>
        <mat-form-field class="controlvalue">

            <input matInput type="number" formControlName="valor">
            <mat-error *ngIf="criarDonations.get('valor') <= 0">Insira um valor positivo</mat-error>

        </mat-form-field>
        <i class="material-icons">euro_symbol</i>

        <h4><button mat-stroked-button color="warn" type="submit">
                Criar Doação
            </button>
        </h4>
    </form>
</mat-card>
