 textarea {
  width: 100%;
}
.mat-form{
  width:100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1 rem 0;
}

.image-preview img {
  height: 100%;
}

.ab{
 width:100%;
}
